<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.day.blog.mapper.MenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="site.day.blog.pojo.domain.Menu">
        <id column="id" property="id" />
        <result column="menu_name" property="menuName" />
        <result column="menu_path" property="menuPath" />
        <result column="component" property="component" />
        <result column="icon" property="icon" />
        <result column="order_num" property="orderNum" />
        <result column="parent_id" property="parentId" />
        <result column="is_hidden" property="isHidden" />
        <result column="deleted" property="deleted" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, menu_name, menu_path, component, icon, order_num, parent_id, is_hidden, deleted, create_time, update_time
    </sql>

</mapper>
