<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.day.blog.mapper.OperationLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="site.day.blog.pojo.domain.OperationLog">
        <id column="id" property="id" />
        <result column="opt_module" property="optModule" />
        <result column="opt_type" property="optType" />
        <result column="opt_url" property="optUrl" />
        <result column="opt_method" property="optMethod" />
        <result column="opt_desc" property="optDesc" />
        <result column="request_param" property="requestParam" />
        <result column="request_method" property="requestMethod" />
        <result column="response_data" property="responseData" />
        <result column="user_id" property="userId" />
        <result column="nickname" property="nickname" />
        <result column="ip_address" property="ipAddress" />
        <result column="ip_source" property="ipSource" />
        <result column="delete" property="delete" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, opt_module, opt_type, opt_url, opt_method, opt_desc, request_param, request_method, response_data, user_id, nickname, ip_address, ip_source, delete, create_time, update_time
    </sql>

</mapper>
